// @import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Montserrat&display=swap');

@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil|Montserrat&display=swap");


$font-header: 'Allerta Stencil', sans-serif;

$font-body: 'Montserrat', sans-serif;

$primary: #333333;
$background: whitesmoke;

$shadow: #222222;